<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
  </head>
  <body>
    <header>
      <% include ./partials/navbar %>
    </header>

    <div class="container">
      <div style="background-image: url(/images/history-of-robots1.jpg); height: 393px; width: 900px; border: 1px solid black;">
      </div>
        <h2>About Robots</h2>
        <h3>Basic Objectives:</h3>
        <ul>
          <li>Create an express app using the generator and redis that tracks robots.</li>
          <li>Show all robots names</li>
          <li>Add robots</li>
          <li>Push to github</li>
          <li>Paste the link as an assignment submission.</li>
        </ul>
        <h3>Bonus Objectives</h3>
        <ul>
          <li>Delete robots</li>
          <li>Style with Bootstrap / Materialize</li>
        </ul>
    </div>
  </body>
</html>
