<!DOCTYPE html>
<html>
  <head>
    <% include ./partials/head %>
  </head>
  <body>

      <header>
      <% include ./partials/navbar %>
    </header>
    <div class="container">
    <div style="background-image: url(/images/history-of-robots1.jpg); height: 393px; width: 900px; border: 1px solid black;">  
    </div>
    <h2><%= title %></h2>
    <p>Welcome to <%= title %></p>
    </div>
  </body>
</html>
